<footer class="modern-footer  text-light pt-5 pb-4 mt-5 shadow-lg rounded-top">
  <div class="container">
    <div class="row gy-4">
      <!-- Logo & About -->
      <div class="col-md-4 mt-3">
        <a class="navbar-brand d-flex align-items-center gap-2 text-white fw-bold" href="#">
          <img src="/assets/images/Cloud Tickets LOGO (2).png" alt="Cloud Tickets Logo" width="60" height="60"
            class="rounded shadow-sm me-2" />
          <span class="fs-4 mt-4">Cloud Tickets</span>
        </a>
        <p class="mt-3"  style="text-align: justify;">
          Explore your dream destinations with Krystal Travels. From luxurious getaways to budget-friendly escapes, we turn your vacations into unforgettable memories.
        </p>

      </div>

      <!-- Quick Links -->
      <div class="col-md-2 mt-5 ms-5" >
        <h5 class="fw-bold mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="footer-link text-light">Home</a></li>
          <li><a routerLink="/singapore-tours/:id" class="footer-link text-light">Tours</a></li>
          <li><a routerLink="/singapore-attractions/:id" class="footer-link text-light">Attractions</a></li>
          <!-- <li><a href="#" class="footer-link text-light">Contact</a></li> -->
        </ul>
      </div>

      <!-- <div class="col-md-3 mt-5" >
        <h5 class="fw-bold mb-3">Contact Us</h5>
        <p class="small mb-1"><i class="bi bi-telephone me-2"></i> +65 1234 5678</p>
        <p class="small mb-1"><i class="bi bi-envelope me-2"></i> support krystaltravels.com</p>
        <p class="small"><i class="bi bi-geo-alt me-2"></i> 123, Orchard Road, Singapore</p>
      </div>


      <div class="col-md-3 mt-5" >
        <h5 class="fw-bold mb-3">Stay in Touch</h5>
        <p class="small">Subscribe to get exclusive travel deals and latest updates!</p>
        <form class="d-flex flex-column gap-2">
          <input type="email" class="form-control rounded-pill px-3" placeholder="Your Email">
          <button type="submit" class="btn btn-warning rounded-pill">Subscribe</button>
        </form>
      </div> -->
    </div>

    <hr class="my-4 border-light">

    <!-- Bottom -->
    <div class="text-end small">
      <!-- &copy; 2025 Krystal Travels. All Rights Reserved. | -->
      <a href="https://ilantechsolutions.com/" class="text-warning fw-semibold text-decoration-none" target="_blank">Designed by Ilan Tech Solutions</a>
    </div>
  </div>
</footer>
