<footer class="custom-footer mt-5">
    <div class="container">
        <div class="top-footer d-flex justify-content-start">
            <img src="/assets/images/Krystal_travels.JPG" alt="Krystal Travels Logo" class="footer-logo">
        </div>

        <div class="footer-line"></div>

        <div class="bottom-footer d-flex justify-content-end align-items-center">
            <span class="footer-text">Designed By Ilan Tech Solutions</span>
            <div class="social-icons">
                <!-- <i class="bi bi-instagram"></i>
                <i class="bi bi-facebook"></i> -->
            </div>
        </div>
    </div>
</footer>

