
.dates-container {
    background: #f2ebf5;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .title {
    color: #5c2d91;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .dates-wrapper {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 5px;
  }

  .date-box {
    border: 2px solid #5c2d91;
    border-radius: 10px;
    padding: 15px;
    min-width: 120px;
    min-height: 100px;
    text-align: center;
    background: white;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    align-items: center;
   }

  .day-label {
    display: block;
    font-weight: bold;
  }

  .date-value {
    display: block;
    font-size: 15px;
    color: #666;
  }

  .calendar-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    color: gray;
  }
