<div class="hero-section d-flex flex-column justify-content-center align-items-center text-center h-100">
    <div class="text-white mt-5">
        <div
            class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 d-flex flex-column justify-content-center align-items-center px-3">
            <h1 class="display-6 fw-bold text-center">Experience Singapore - All Activities in One Place</h1>
            <!-- <p class="lead mt-3 w-75">From iconic landmarks to vibrant street life, discover the magic of Singapore like
                never before.</p> -->
        </div><br><br><br>
        <!-- <div class="input-group mt-4 search-bar container">
            <span class="input-group-text bg-white px-4">
                <i class="bi bi-search text-muted fs-4"></i>
            </span>
            <input type="text" class="form-control fs-4 d-flex justify-content-start ms-0"
                placeholder="Destination, attraction or activity">
        </div> -->
        <form class="mt-4">
            <div class="input-group search-bar">
                <span class="input-group-text bg-white">
                    <i class="bi bi-search text-muted"></i>
                </span>
                <input type="text" class="form-control" placeholder="Destination, attraction or activity"
                    [(ngModel)]="searchQuery" (ngModelChange)="onSearch()" name="search" />
            </div>
        </form>
    </div>
</div>



<div class="container mt-5">
    <h2 class="fw-bold mb-0" style="color:#44107B;">Explore Singapore</h2><br>
    <p class=" fs-4 mb-0 highlight" [innerHTML]="hawParVillaDescription"></p><br>
    <h3 class="text-primary fw-bold mb-0" style="color: #44107B !important;">View All Activities</h3><br><br>


    <div class="row d-flex flex-nowrap overflow-auto">
        <div class="col-md-4 col-lg-3" *ngFor="let item of filteredPopularThings">
            <div [routerLink]="[item.route, item.id]" class="card h-100 shadow-sm border-0 rounded-4 overflow-hidden"
                style="cursor: pointer;">
                <div class="position-relative">
                    <img [src]="item.image" class="card-img-top img-fluid" [alt]="item.title" loading="lazy">
                    <!-- <i class="bi bi-bookmark position-absolute bottom-0 end-0 m-3 fs-3 text-white"></i> -->
                    <div (click)="onBookmarkClick($event, item)" class="position-absolute top-0 end-0 m-3"
                        style="cursor: pointer;">
                        <div class="save-icon-wrapper d-flex justify-content-center align-items-center">
                            <i class="bi heart-icon"
                                [ngClass]="isItemSaved(item) ? 'bi-heart-fill text-danger' : 'bi-heart text-danger'"></i>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title fw-bold" [ngStyle]="{'white-space': showFullTitle[item.title] ? 'normal' : 'nowrap',
                                   'overflow': showFullTitle[item.title] ? 'visible' : 'hidden',
                                   'text-overflow': showFullTitle[item.title] ? 'unset' : 'ellipsis'}">
                        {{ item.title }}
                    </h5>

                    <button *ngIf="!showFullTitle[item.title]" (click)="toggleTitle(item.title, $event)"
                        class="btn btn-link text-decoration-none p-0">
                        Read More
                    </button>
                    <button *ngIf="showFullTitle[item.title]" (click)="toggleTitle(item.title, $event)"
                        class="btn btn-link text-decoration-none p-0">
                        Read Less
                    </button>

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="badge rating-badge d-flex align-items-center">
                            ⭐ {{ item.rating }} <span class="ms-1">({{ item.reviews }})</span>
                        </span>
                    </div>
                    <hr>

                    <div class="d-flex justify-content-start align-items-center mt-2">
                        <p class="mb-0 text-muted">From</p>
                        <p class="fw-bold fs-5 ms-2 mb-0">INR {{ item.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <!-- <div class="row">
        <div class="col-md-3" *ngFor="let item of popularThingsSecond">
            <div class="card h-100 shadow-sm border-2 d-flex flex-column">
                <img [src]="item.image" class="card-img-top img-fluid fixed-image" [alt]="item.title" loading="lazy">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <div class="d-flex align-items-center">
                        <span class="badge bg-warning text-dark me-2">
                            ⭐ {{ item.rating }} ({{ item.reviews }})
                        </span>
                        <i class="bi bi-bookmark"></i>
                    </div>
                    <p class="mt-2 mb-0 text-muted">From</p>
                    <p class="fw-bold">SGD {{ item.price }}</p>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row d-flex flex-nowrap overflow-auto">
        <div class="col-md-4 col-lg-3" *ngFor="let item of filteredPopularThingsSecond">
            <div [routerLink]="[item.route, item.id]" class="card h-100 shadow-sm border-0 rounded-4 overflow-hidden"
                style="cursor: pointer;">
                <div class="position-relative">
                    <img [src]="item.image" class="card-img-top img-fluid" [alt]="item.title" loading="lazy">
                    <!-- <i class="bi bi-bookmark position-absolute bottom-0 end-0 m-3 fs-3 text-white"></i> -->
                    <div (click)="onBookmarkClick($event, item)" class="position-absolute top-0 end-0 m-3"
                        style="cursor: pointer;">
                        <div class="save-icon-wrapper d-flex justify-content-center align-items-center">
                            <i class="bi heart-icon"
                                [ngClass]="isItemSaved(item) ? 'bi-heart-fill text-danger' : 'bi-heart text-danger'"></i>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title fw-bold" [ngStyle]="{'white-space': showFullTitle[item.title] ? 'normal' : 'nowrap',
                                   'overflow': showFullTitle[item.title] ? 'visible' : 'hidden',
                                   'text-overflow': showFullTitle[item.title] ? 'unset' : 'ellipsis'}">
                        {{ item.title }}
                    </h5>

                    <button *ngIf="!showFullTitle[item.title]" (click)="toggleTitle(item.title, $event)"
                        class="btn btn-link text-decoration-none p-0">
                        Read More
                    </button>
                    <button *ngIf="showFullTitle[item.title]" (click)="toggleTitle(item.title, $event)"
                        class="btn btn-link text-decoration-none p-0">
                        Read Less
                    </button>

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="badge rating-badge d-flex align-items-center">
                            ⭐ {{ item.rating }} <span class="ms-1">({{ item.reviews }})</span>
                        </span>
                    </div>
                    <hr>

                    <div class="d-flex justify-content-start align-items-center mt-2">
                        <p class="mb-0 text-muted">From</p>
                        <p class="fw-bold fs-5 ms-2 mb-0">SGD {{ item.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>

    <div class="row d-flex flex-nowrap overflow-auto">
        <div class="col-md-4 col-lg-3" *ngFor="let item of filteredPopularThingsThird">
            <div [routerLink]="[item.route, item.id]" class="card h-100 shadow-sm border-0 rounded-4 overflow-hidden"
                style="cursor: pointer;">
                <div class="position-relative">
                    <img [src]="item.image" class="card-img-top img-fluid" [alt]="item.title" loading="lazy">
                    <!-- <i class="bi bi-bookmark position-absolute bottom-0 end-0 m-3 fs-3 text-white"></i> -->
                    <div (click)="onBookmarkClick($event, item)" class="position-absolute top-0 end-0 m-3"
                    style="cursor: pointer;">
                    <div class="save-icon-wrapper d-flex justify-content-center align-items-center">
                      <i class="bi heart-icon"
                        [ngClass]="isItemSaved(item) ? 'bi-heart-fill text-danger' : 'bi-heart text-danger'"></i>
                    </div>
                  </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title fw-bold" [ngStyle]="{'white-space': showFullTitle[item.title] ? 'normal' : 'nowrap',
                                   'overflow': showFullTitle[item.title] ? 'visible' : 'hidden',
                                   'text-overflow': showFullTitle[item.title] ? 'unset' : 'ellipsis'}">
                        {{ item.title }}
                    </h5>
                    <button *ngIf="!showFullTitle[item.title]" (click)="toggleTitle(item.title, $event)"
                        class="btn btn-link text-decoration-none p-0">
                        Read More
                    </button>
                    <button *ngIf="showFullTitle[item.title]" (click)="toggleTitle(item.title, $event)"
                        class="btn btn-link text-decoration-none p-0">
                        Read Less
                    </button>


                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="badge rating-badge d-flex align-items-center">
                            ⭐ {{ item.rating }} <span class="ms-1">({{ item.reviews }})</span>
                        </span>
                    </div>
                    <hr>

                    <div class="d-flex justify-content-start align-items-center mt-2">
                        <p class="mb-0 text-muted">From</p>
                        <p class="fw-bold fs-5 ms-2 mb-0">SGD {{ item.price }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>